h1{
color: white;  
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 1.5em;
}
h2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 14% 0 1%;
}
h3{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 5em;
}
h4{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: solid;
  width: 180px;
  position: absolute;
  left: 43%;
  top: 66%;
}
body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: rgb(130, 195, 204);
}

