*{
    text-align: center;
}
h1{
    background-color: gray;
    margin-top: 0%;
    font-size: 1em;
    width: 100%;
}

h2{
    background-color: blue;
    width: 50%;
    float: left;
    font-size: 1em;
    padding-top: 15%;
    padding-bottom: 15%;
}

h3{
    background-color: red;
    width: 25%;
    float: right;
    font-size: 1em;
    padding-top: 15%;
    padding-bottom: 15%;
}

h4{
    background-color: forestgreen;
    margin-top: 45%;
    font-size: 1em;
    width: 100%;
}